@using diplom.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Project>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Ваши проекты";
    ViewData["Username"] = Context.Session.GetString("UserName");
}

<div class="filter-and-add-container">
    <div class="filter-buttons">
        <a href="/Projects/AllProjects" class="filter-button all @(ViewBag.StatusFilter == null ? "active" : "")">
            Все (@(ViewBag.StatusCounts[ProjectStatus.InProcess] + ViewBag.StatusCounts[ProjectStatus.Completed] + ViewBag.StatusCounts[ProjectStatus.Frozen]))
        </a>
        <a href="/Projects/AllProjects?statusFilter=InProcess" class="filter-button inprocess @(ViewBag.StatusFilter == "InProcess" ? "active" : "")">
            В процессе <i class="las la-cogs"></i> (@ViewBag.StatusCounts[ProjectStatus.InProcess])
        </a>
        <a href="/Projects/AllProjects?statusFilter=Frozen" class="filter-button frozen @(ViewBag.StatusFilter == "Frozen" ? "active" : "")">
            Отложенные <i class="las la-clock"></i> (@ViewBag.StatusCounts[ProjectStatus.Frozen])
        </a>
        <a href="/Projects/AllProjects?statusFilter=Completed" class="filter-button completed @(ViewBag.StatusFilter == "Completed" ? "active" : "")">
            Завершенные <i class="las la-chevron-down"></i> (@ViewBag.StatusCounts[ProjectStatus.Completed])
        </a>
    </div>

    <div class="button-a">
        <a href="#add-project" rel="modal:open" class="input__submit">
            Новый проект
            <i class="las la-briefcase"></i>
        </a>
    </div>
</div>

@if (Model.Count == 0)
{
    <div class="centered-container project-massage">
        <div class="message-container ">
            <h2>Здесь пока нет проектов.</h2>
            <p>Создайте новый, чтобы начать работу!</p>
        </div>
    </div>
}
else
{
    <div class="projects">
        @foreach (Project project in Model)
        {
            <div class="project-card @(GetStatusClass(project.Status))">
                <a href="/Projects/Project/@project.ID">
                    <h2 class="project-title">@project.Name</h2>
                    <p class="project-description">@project.Description</p>
                    <p class="project-status">Статус: @project.ConvertStatus(project.Status)</p>
                    <p class="project-deadline">Завершить до @(project.DeadlineDate?.ToString("dd.MM.yyyy") ?? "не указано")</p>

                    <p class="project-created">Создан @project.CreateDate.ToString("dd.MM.yyyy")</p>
                    @if (project.EndDate != null)
                    {
                        <p class="project-created">Завершен @project.EndDate.Value.ToString("dd.MM.yyyy")</p>
                    }

                    @foreach (var userProj in project.UserProjects)
                    {
                        @if (userProj.UserRole == UserRoles.Admin && userProj.UserID == ViewBag.UserID)
                        {
                            <a href="#edit-project" rel="modal:open" class="edit-project-button" data-project-id="@project.ID">
                                <i class="las la-pen"></i>
                            </a>
                        }
                        else
                        {
                            <a href="#edit-project" rel="modal:open" class="edit-project-button" data-project-id="@project.ID">
                                <i class="las la-info-circle"></i>
                            </a>
                        }
                    }
                    
                </a>
            </div>
        }
    </div>
}


@functions {
    private string GetStatusClass(ProjectStatus status)
    {
        switch (status)
        {
            case ProjectStatus.InProcess:
                return "status-inprocess";
            case ProjectStatus.Completed:
                return "status-completed";
            case ProjectStatus.Frozen:
                return "status-frozen";
            default:
                return "";
        }
    }
}

<!--------------------------------------------------------------->
<form asp-action="CreateProject" asp-controller="Projects" id="add-project" class="modal">
    <div class="modal-container">
        <h1 class="modal-title">Новый проект</h1>
        <label class="input-form__label add-project">
            <span class="input-placeholder">название</span>
            <input class="form__input input-name" name="Name" autocomplete="off" required>
        </label>
        <label class="input-form__label add-project">
            <span class="input-placeholder">описание</span>
            <textarea class="form__input form__textarea" name="Description" autocomplete="off"></textarea>
        </label>

        <label class="input-form__label add-project">
            <span class="input-placeholder select-date">срок</span>
            <input class="form__input input-date" type="date" name="DeadlineDate" required value="@DateTime.Now.ToString("yyyy-MM-dd")">
        </label>

        <button class="input__submit confirm">Добавить <i class="las la-clipboard-check"></i></button>
    </div>
    <a href="#" rel="modal:close"></a>
</form>

<script>
        document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.edit-project-button');
        buttons.forEach(button => {
            button.addEventListener('click', function () {
                const projectID = this.getAttribute('data-project-id');
                document.querySelectorAll('.projectform').forEach(element => {
                    element.classList.add('hidden');
                });
                const selectedProjectForm = document.getElementById('PROJECT' + projectID);
                if (selectedProjectForm) {
                    selectedProjectForm.classList.remove('hidden');
                }
                document.getElementById('projectID').value = projectID;
            });
        });
    });
</script>

<div id="edit-project" class="modal">
    @foreach (Project project in Model)
    {
        <div ID="PROJECT@(@project.ID)" class="hidden projectform">
            <form asp-action="EditProject" asp-controller="Projects">
                <input type="hidden" value="@project.ID" name="projectID" id="projectID" />
                <input type="hidden" name="returnUrl" value="/Projects/AllProjects" />
                <div class="modal-container">
                    <h1 class="modal-title">
                        @{
                            bool isAdmin = project.UserProjects.Any(up => up.UserID == ViewBag.UserID && up.UserRole == UserRoles.Admin);
                            @(isAdmin ? "Редактирование проекта" : "Просмотр проекта")
                        }
                    </h1>
                    <label class="input-form__label add-project">
                        <span class="input-placeholder">название</span>
                        <input class="form__input input-name" name="Name" autocomplete="off" required value="@project.Name"
                        @(isAdmin ? "" : "disabled")>
                    </label>

                    <label class="input-form__label add-project">
                        <span class="input-placeholder">описание</span>
                        <textarea class="form__input form__textarea" name="Description" autocomplete="off"
                        @(isAdmin ? "" : "disabled")>@project.Description</textarea>
                    </label>

                    <label class="input-form__label">
                        <span class="input-placeholder select-date">статус</span>
                        <select class="form__input input-select" name="Status" required
                        @(isAdmin ? "" : "disabled")>
                            <!option value="@ProjectStatus.InProcess" @((project.Status == ProjectStatus.InProcess) ? "selected" : "")>@project.ConvertStatus(ProjectStatus.InProcess)</!option>
                            <!option value="@ProjectStatus.Frozen" @((project.Status == ProjectStatus.Frozen) ? "selected" : "")>@project.ConvertStatus(ProjectStatus.Frozen)</!option>
                            <!option value="@ProjectStatus.Completed" @((project.Status == ProjectStatus.Completed) ? "selected" : "")>@project.ConvertStatus(ProjectStatus.Completed)</!option>
                        </select>
                    </label>

                    <label class="input-form__label add-project">
                        <span class="input-placeholder select-date">срок</span>
                        <input class="form__input input-date" type="date" name="DeadlineDate" required
                               value="@project.DeadlineDate.Value.ToString("yyyy-MM-dd")"
                        @(isAdmin ? "" : "disabled")>
                    </label>

                    @if (isAdmin)
                    {
                        <button class="input__submit confirm">Сохранить <i class="las la-save"></i></button>
                    }
                </div>
            </form>
        </div>
    }
    <a href="#" rel="modal:close"></a>
</div>