@using taskloom.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Project
@{
    Layout = "_Layout";
    ViewData["Username"] = Context.Session.GetString("UserName");
}

<div class="settings-container">

    <div class="settings-header">
        <div class="button-a">
            @if (ViewBag.UserRole != UserRoles.Employee)
            {
                <a href="/Projects/DeletedIssueArchive/@ViewBag.ProjectID" class="input__submit">Архив задач <i class="las la-archive"></i></a>
                @if (ViewBag.UserRole == UserRoles.Admin)
                {
                    <a href="/Projects/ProjectHistory/@ViewBag.ProjectID" class="input__submit">История действий <i class="las la-history"></i></a>
                    <a href="/Projects/ProjectStatistics/@ViewBag.ProjectID" class="input__submit">Статистика проекта <i class="las la-chart-bar"></i></a>
                }
            }
            <a href="#leave-project" class="input__submit cancel" rel="modal:open">Покинуть проект <i class="las la-sign-out-alt"></i></a>
        </div>
    </div>

    <div class="project-details">
        <h2 class="modal-title">Основная информация</h2>
        <form asp-action="EditProject" asp-controller="Projects" method="post" class="update-project-container">
            <input type="hidden" name="projectID" value="@ViewBag.ProjectID" />
            <input type="hidden" name="returnUrl" value="/Projects/ProjectSettings/@Model.ID" />
            @if (ViewBag.UserRole == UserRoles.Admin)
            {
                <label class="input-form__label add-project">
                    <span class="input-placeholder">название</span>
                    <input class="form__input input-name" name="Name" autocomplete="off" required value="@Model.Name">
                </label>
                <label class="input-form__label add-project">
                    <span class="input-placeholder">описание</span>
                    <textarea class="form__input form__textarea" name="Description" autocomplete="off">@Model.Description</textarea>
                </label>
                <label class="input-form__label">
                    <span class="input-placeholder select-date">статус</span>
                    <select class="form__input input-select" name="Status" required>
                        <!option value="@ProjectStatus.InProcess" @((Model.Status == ProjectStatus.InProcess) ? "selected" : "")>@Model.ConvertStatus(ProjectStatus.InProcess)</!option>
                        <!option value="@ProjectStatus.Frozen" @((Model.Status == ProjectStatus.Frozen) ? "selected" : "")>@Model.ConvertStatus(ProjectStatus.Frozen)</!option>
                        <!option value="@ProjectStatus.Completed" @((Model.Status == ProjectStatus.Completed) ? "selected" : "")>@Model.ConvertStatus(ProjectStatus.Completed)</!option>
                    </select>
                </label>
                <label class="input-form__label add-project">
                    <span class="input-placeholder select-date">срок</span>
                    <input class="form__input input-date" type="date" name="DeadlineDate" required
                    value="@(Model.DeadlineDate.HasValue ? Model.DeadlineDate.Value.ToString("yyyy-MM-dd") : "")">
                </label>
                <button class="input__submit confirm no-margin">Сохранить <i class="las la-save"></i></button>
            }
            else
            {
                <label class="input-form__label add-project">
                    <span class="input-placeholder">название</span>
                    <input class="form__input input-name" value="@Model.Name" disabled>
                </label>
                <label class="input-form__label add-project">
                    <span class="input-placeholder">описание</span>
                    <textarea class="form__input form__textarea" disabled>@Model.Description</textarea>
                </label>
                <label class="input-form__label">
                    <span class="input-placeholder select-date">статус</span>
                    <select class="form__input input-select" disabled>
                        <!option value="@ProjectStatus.InProcess" @((Model.Status == ProjectStatus.InProcess) ? "selected" : "")>@Model.ConvertStatus(ProjectStatus.InProcess)</!option>
                        <!option value="@ProjectStatus.Frozen" @((Model.Status == ProjectStatus.Frozen) ? "selected" : "")>@Model.ConvertStatus(ProjectStatus.Frozen)</!option>
                        <!option value="@ProjectStatus.Completed" @((Model.Status == ProjectStatus.Completed) ? "selected" : "")>@Model.ConvertStatus(ProjectStatus.Completed)</!option>
                    </select>
                </label>
                <label class="input-form__label add-project">
                    <span class="input-placeholder select-date">срок</span>
                    <input class="form__input input-date" type="date"
                    value="@(Model.DeadlineDate.HasValue ? Model.DeadlineDate.Value.ToString("yyyy-MM-dd") : "")" disabled>
                </label>
            }
        </form>
    </div>

    <div class="users-section" id="users-section">
        <div class="config-title-container">
            <h2 class="modal-title">Сотрудники</h2>
            @if (ViewBag.UserRole == UserRoles.Admin)
            {
                <div class="button-a">
                    <a href="#invite-user" rel="modal:open" class="input__submit mini">
                        <i class="las la-user-plus"></i>
                    </a>
                </div>
            }
        </div>
        <table class="project-table">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Категории</th>
                    <th>Почта</th>
                    <th>Роль</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (UserProject userProject in Model.UserProjects)
                {
                    <tr>
                        <td>@userProject.User.LName @userProject.User.FName</td>
                        <td>
                            @if (ViewBag.UserRole == UserRoles.Admin)
                            {
                                <a href="#user-category" rel="modal:open" class="category-link" data-userproj-id="@userProject.ID">
                                    @if (userProject.CategoryTypes != null && userProject.CategoryTypes.Any())
                                    {
                                        <ul class="category-list">
                                            @foreach (var category in userProject.CategoryTypes)
                                            {
                                                <li>@category.Name</li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <span>Нет категорий</span>
                                    }
                                    @* <i class="las la-pen"></i> *@
                                </a>
                            }
                            else
                            {
                                @if (userProject.CategoryTypes != null && userProject.CategoryTypes.Any())
                                {
                                    <ul class="category-list">
                                        @foreach (var category in userProject.CategoryTypes)
                                        {
                                            <li>@category.Name</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span>Нет категорий</span>
                                }
                            }
                        </td>
                        <td>@userProject.User.Email</td>
                        <td class="user-role">
                            @if (ViewBag.UserRole == UserRoles.Admin && userProject.UserRole != UserRoles.Admin)
                            {
                                <a href="#edit-role" class="user-role-edit" rel="modal:open" data-user-id="@userProject.ID">
                                    @userProject.ConvertRoles(userProject.UserRole) <i class="las la-pen"></i>
                                </a>
                            }
                            else
                            {
                                <span>@userProject.ConvertRoles(userProject.UserRole)</span>
                            }
                        </td>
                        <td class="exclude-user">
                            @if (ViewBag.UserRole == UserRoles.Admin && userProject.UserRole != UserRoles.Admin)
                            {
                                <div class="button-a">
                                    <a href="#remove-user" rel="modal:open" class="input__submit cancel mini delete-user-button" data-user-id="@userProject.ID">
                                        <i class="las la-user-times"></i>
                                    </a>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (ViewBag.PendingUsers != null && ViewBag.PendingUsers.Count > 0)
        {
            <div class="config-title-container">
                <h2 class="modal-title">Ожидают принятия приглашения</h2>
            </div>
            <table class="project-table">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Почта</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in ViewBag.PendingUsers)
                    {
                        <tr>
                            <td>@user.LName @user.FName</td>
                            <td>@user.Email</td>
                            <td>Приглашение отправлено, ожидание ответа</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <div class="categories-section" id="categories-section">
        <div class="config-title-container">
            <h2 class="modal-title">Категории задач</h2>
            @if (ViewBag.UserRole == UserRoles.Admin || ViewBag.UserRole == UserRoles.Manager)
            {
                <div class="button-a">
                    <a href="#add-category" rel="modal:open" class="input__submit mini">
                        <i class="las la-plus-circle"></i>
                    </a>
                </div>
            }
        </div>
        <div class="categories-list">
            @if (Model.CategoryTypes == null || !Model.CategoryTypes.Any())
            {
                <p>Категории задач отсутствуют.</p>
            }
            else
            {
                <ul>
                    @foreach (var category in Model.CategoryTypes)
                    {
                        <li class="category-item-container">
                            @if (ViewBag.UserRole == UserRoles.Admin || ViewBag.UserRole == UserRoles.Manager)
                            {
                                <a class="category-name-container edit-category-link" href="#edit-category" rel="modal:open" data-category-id="@category.ID">
                                    @category.Name <i class="las la-pen"></i>
                                </a>
                                <div class="button-a">
                                    <a href="#delete-category" rel="modal:open" class="input__submit cancel mini delete-category-button" data-category-id="@category.ID">
                                        <i class="las la-trash-alt"></i>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <span>@category.Name</span>
                            }
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>


<form asp-action="AddCategory" asp-controller="Projects" id="add-category" class="modal">
    <input type="hidden" name="projectID" value="@ViewBag.ProjectID" />
    <div class="modal-container">
        <h1 class="modal-title">Добавить категорию</h1>
        <label class="input-form__label add-project">
            <span class="input-placeholder">название категории</span>
            <input class="form__input input-name" name="Name" autocomplete="off" required>
        </label>
        <button class="input__submit confirm">Добавить <i class="las la-clipboard-check"></i></button>
    </div>
    <a href="#" rel="modal:close"></a>
</form>

<div id="edit-category" class="modal">
    @if (Model.CategoryTypes != null)
    {
        @foreach (var category in Model.CategoryTypes)
        {
            <div id="EDIT_CATEGORY@(category.ID)" class="hidden categoryform">
                <form asp-action="EditCategory" asp-controller="Projects">
                    <input type="hidden" value="@category.ID" name="categoryID" />
                    <div class="modal-container">
                        <h1 class="modal-title">Редактировать категорию</h1>
                        <label class="input-form__label add-project">
                            <span class="input-placeholder">название категории</span>
                            <input class="form__input input-name" name="Name" autocomplete="off" value="@category.Name" required>
                        </label>
                        <button class="input__submit confirm">Сохранить<i class="las la-save"></i></button>
                    </div>
                </form>
            </div>
        }

    }
    <a href="#" rel="modal:close"></a>
</div>
<div id="delete-category" class="modal">
    @if (Model.CategoryTypes != null)
    {
        @foreach (var category in Model.CategoryTypes)
        {
            <div id="DELETE_CATEGORY@(category.ID)" class="hidden categoryform">
                <form asp-action="DeleteCategory" asp-controller="Projects">
                    <input type="hidden" value="@category.ID" name="categoryID" />
                    <div class="modal-container">
                        <h1 class="modal-title">Подтвердите удаление категории</h1>
                        <p class="delete-text">После удаления категорию невозможно будет восстановить.</p>
                        <button class="input__submit cancel">Удалить <i class="las la-trash-alt"></i></button>
                    </div>
                </form>
            </div>
        }   
    }
    <a href="#" rel="modal:close"></a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    //редактированиу категории
    const editButtons = document.querySelectorAll('.edit-category-link');
    editButtons.forEach(button => {
    button.addEventListener('click', function (event) {
    event.preventDefault();

    const categoryID = this.getAttribute('data-category-id');
    document.querySelectorAll('.categoryform').forEach(element => {
    element.classList.add('hidden');
    });
    const selectedEditForm = document.getElementById('EDIT_CATEGORY' + categoryID);
    if (selectedEditForm) {
    selectedEditForm.classList.remove('hidden');
    }
    });
    });

    //удаление категории
    const deleteCategoryButtons = document.querySelectorAll('.delete-category-button');
    deleteCategoryButtons.forEach(button => {
    button.addEventListener('click', function (event) {
    event.preventDefault();

    const categoryID = this.getAttribute('data-category-id');
    document.querySelectorAll('.categoryform').forEach(element => {
    element.classList.add('hidden');
    });
    const selectedDeleteForm = document.getElementById('DELETE_CATEGORY' + categoryID);
    if (selectedDeleteForm) {
    selectedDeleteForm.classList.remove('hidden');
    }
    });
    });

    //удаление пользователя
    const deleteUserButtons = document.querySelectorAll('.delete-user-button');
    deleteUserButtons.forEach(button => {
    button.addEventListener('click', function (event) {
    event.preventDefault();

    const userID = this.getAttribute('data-user-id');
    document.querySelectorAll('.userform').forEach(element => {
    element.classList.add('hidden');
    });
    const selectedDeleteForm = document.getElementById('REMOVE_USER' + userID);
    if (selectedDeleteForm) {
    selectedDeleteForm.classList.remove('hidden');
    }
    });
    });

    // редактироване роли пользователя
    const editRoleButtons = document.querySelectorAll('.user-role-edit');
    editRoleButtons.forEach(button => {
    button.addEventListener('click', function (event) {
    event.preventDefault();

    const userID = this.getAttribute('data-user-id');
    document.querySelectorAll('.userform').forEach(element => {
    element.classList.add('hidden');
    });
    const selectedEditForm = document.getElementById('EDIT_ROLE' + userID);
    if (selectedEditForm) {
    selectedEditForm.classList.remove('hidden');
    }
    });
    });

    // Передача прав администратора
    const giveRightsLinks = document.querySelectorAll('.giveRights_link');
    giveRightsLinks.forEach(link => {
    link.addEventListener('click', function (event) {
    event.preventDefault();

    const userID = this.getAttribute('data-user-id');
    document.querySelectorAll('.userform').forEach(element => {
    element.classList.add('hidden');
    });
    const selectedGiveRightsForm = document.getElementById('GIVE_RIGHTS' + userID);
    if (selectedGiveRightsForm) {
    selectedGiveRightsForm.classList.remove('hidden');
    }
    });
    });

    //Управление позьзовательских категорий
    const categoryLinks = document.querySelectorAll('.category-link');
    categoryLinks.forEach(link => {
    link.addEventListener('click', function (event) {
    event.preventDefault();

    const userProjectID = this.getAttribute('data-userproj-id');
    document.querySelectorAll('.categoryform').forEach(element => {
    element.classList.add('hidden');
    });
    const selectedCategoryForm = document.getElementById('EDIT_USER_CATEGORY' + userProjectID);
    if (selectedCategoryForm) {
    selectedCategoryForm.classList.remove('hidden');
    }
    });
    });

    });
</script>

<div id="user-category" class="modal">
    @foreach (UserProject userProject in Model.UserProjects)
    {
        <div id="EDIT_USER_CATEGORY@(userProject.ID)" class="hidden categoryform">
            <form asp-action="AssignCategoriesToUser" asp-controller="Projects">
                <input type="hidden" value="@userProject.ID" name="userProjectID" />
                <input type="hidden" value="@Model.ID" name="projectID" />
                <div class="modal-container">
                    <h1 class="modal-title">Категории пользователя</h1>
                    @if (Model.CategoryTypes != null && Model.CategoryTypes.Count != 0)
                    {

                        @foreach (var category in Model.CategoryTypes)
                        {
                            <div class="category-item">
                                <input type="checkbox" name="selectedCategories" value="@category.ID"
                                @(userProject.CategoryTypes != null && userProject.CategoryTypes.Any(c => c.ID == category.ID) ? "checked" : "") />
                                @category.Name
                            </div>
                        }
                        <button class="input__submit confirm">Сохранить <i class="las la-save"></i></button>
                    }
                    else{

                    <p class="delete-text">В проекте пока нет ни одной категории.</p>
                    }
                    
                </div>
            </form>
        </div>
    }
    <a href="#" rel="modal:close"></a>
</div>

<form asp-action="InviteUser" asp-controller="Projects" method="post" id="invite-user" class="modal">
    <input type="hidden" name="projectID" value="@ViewBag.ProjectID" />
    <div class="modal-container">
        <h1 class="modal-title">Введите email пользователя</h1>
        <label class="input-form__label">
            <span class="input-placeholder">email</span>
            <input class="form__input input-email" type="email" name="Email" autocomplete="off" required>
        </label>
        <button class="input__submit confirm">Отправить приглашение <i class="las la-user-check"></i></button>
    </div>
    <a href="#" rel="modal:close"></a>
</form>

<div id="remove-user" class="modal">
    @foreach (var userProject in Model.UserProjects)
    {
        <div id="REMOVE_USER@(userProject.ID)" class="hidden userform">
            <form asp-action="RemoveUserFromProject" asp-controller="Projects">
                <input type="hidden" value="@userProject.ID" name="userProjectID" />
                <input type="hidden" value="@Model.ID" name="projectID" />
                <div class="modal-container">
                    <h1 class="modal-title">Подтвердите удаление пользователя</h1>
                    <p class="delete-text">Пользователь будет исключен из проекта.</p>
                    <button class="input__submit cancel">Удалить <i class="las la-trash-alt"></i></button>
                </div>
            </form>
        </div>
    }
    <a href="#" rel="modal:close"></a>
</div>

<div id="edit-role" class="modal">
    @foreach (var userProject in Model.UserProjects)
    {
        <div id="EDIT_ROLE@(userProject.ID)" class="hidden userform">
            <form asp-action="EditUserRole" asp-controller="Projects">
                <input type="hidden" value="@userProject.ID" name="userProjectID" />
                <input type="hidden" value="@Model.ID" name="projectID" />
                <div class="modal-container">
                    <h1 class="modal-title">Редактирование роли пользователя</h1>
                    <label class="input-form__label">
                        <span class="input-placeholder select-date">Роль</span>
                        <select class="form__input input-select" name="newRole" required>
                            <!option value="@UserRoles.Manager" @(userProject.UserRole == UserRoles.Manager ? "selected" : "")>@userProject.ConvertRoles(UserRoles.Manager)</!option>
                            <!option value="@UserRoles.Employee" @(userProject.UserRole == UserRoles.Employee ? "selected" : "")>@userProject.ConvertRoles(UserRoles.Employee)</!option>
                        </select>
                    </label>
                    <a class="giveRights_link" href="#give-rights" rel="modal:open" data-user-id="@userProject.ID">Передать права администратора</a>

                    <button class="input__submit confirm">Сохранить <i class="las la-save"></i></button>
                </div>
            </form>
        </div>
    }
    <a href="#" rel="modal:close"></a>
</div>

<div id="give-rights" class="modal">
    @foreach (var userProject in Model.UserProjects)
    {
        <div id="GIVE_RIGHTS@(userProject.ID)" class="hidden userform">
            <form asp-action="EditUserRole" asp-controller="Projects">
                <input type="hidden" value="@userProject.ID" name="userProjectID" />
                <input type="hidden" value="@Model.ID" name="projectID" />
                <input type="hidden" value="@UserRoles.Admin" name="newRole" />
                <div class="modal-container">
                    <h1 class="modal-title">Подтвердите передачу прав на проект</h1>
                    <p class="delete-text">
                        Вы уверены, что хотите передать права администратора на проект пользователю <br>
                        <strong>@userProject.User.LName @userProject.User.FName</strong>?
                    </p>
                    <p class="delete-text">После передачи прав вам будет назначена роль "Сотрудник".</p>
                    <button class="input__submit confirm">Подтвердить <i class="las la-check"></i></button>
                </div>
            </form>
        </div>
    }
    <a href="#" rel="modal:close"></a>
</div>


<div id="leave-project" class="modal">
    @if (ViewBag.UserRole != UserRoles.Admin)
    {
        <form asp-action="LeaveProject" asp-controller="Projects">
            <input type="hidden" value="@Model.ID" name="projectID" />
            <div class="modal-container">
                <h1 class="modal-title">Подтвердите выход из проекта</h1>
                <button class="input__submit cancel">Покинуть проект<i class="las la-sign-out-alt"></i></button>
            </div>
        </form>
    }
    else
    {
        <div class="modal-container">
            <h1 class="modal-title">Вы не можете покинуть проект</h1>
            <p class="delete-text">Вы являетесь администратором проекта.</p>
            <p class="delete-text">Для выхода из проекта необходимо передать права администратора другому пользователю.</p>
        </div>
    }
    <a href="#" rel="modal:close"></a>
</div>